.ymaps-2-1-79-copyright,
.ymaps-2-1-79-gototech {
  display: none !important;
}

#map {
  width: 100vw;
  height: 100vh;
}

.contact-container {
  position: absolute;
  bottom: 5%;
  left: 50%;
  transform: translate(-50%, 0%);
  z-index: 2;
  display: flex;
  width: 85vw;
  justify-content: space-between;
  background-color: var(--secondary-color);
  padding: 30px 35px;
  color: var(--primary-color);
  border-radius: 10px;
  box-shadow:
    rgba(17, 17, 26, 0.1) 0px 4px 16px,
    rgba(17, 17, 26, 0.1) 0px 8px 24px,
    rgba(17, 17, 26, 0.1) 0px 16px 56px;
}

.contact-column-right {
  display: flex;
  gap: 80px;
}

.contact-heading {
  font-family: var(--primary-font-style);
  font-size: 1.5vw;
  line-height: 1;
  font-weight: 200;
  margin-bottom: 15px;
}

.contact-subheading {
  font-family: var(--primary-font-style);
  font-size: 1vw;
  font-weight: 700;
  margin-bottom: 10px;
  position: relative;
}

.contact-subheading::before {
  content: '—';
  position: absolute;
  left: -25px;
  font-weight: 300;
}

.contact-info-item {
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  gap: 8px;
}

.contact-info-item:hover a,
.contact-info-item:hover svg {
  color: var(--light-greantea-color);
  stroke: var(--light-greantea-color);
}

.contact-info-item a {
  font-family: var(--secondary-font-style);
  text-decoration: none;
  color: inherit;
  font-size: 1vw;
  font-weight: 300;
  transition: 0.3s ease-in-out;
}
.contact-info-item svg {
  width: 1vw;
  height: 1vw;
  stroke: var(--primary-color);
  transition: 0.3s ease-in-out;
}

.contact-address {
  font-family: var(--secondary-font-style);
  font-style: normal;
  line-height: 1.6;
  font-size: 0.95vw;
  font-weight: 300;
  color: var(--primary-color);
}

.contact-socials {
  display: flex;
  gap: 10px;
  margin-top: 15px;
}

.contact-column .social-button {
  width: 2.2vw;
  height: 2.2vw;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border: 1px solid rgba(30, 49, 43, 0.8);
  border-radius: 0.6vw;
  transition: all 0.3s ease;
  background: transparent;
  color: var(--primary-color);
}

.contact-column .social-button svg {
  width: 1vw;
  height: 1vw;
}

.contact-column .social-button:hover {
  border-color: var(--light-greantea-color);
  color: var(--light-greantea-color);
}

.contact-main-mobile {
  display: none;
}

@media (max-width: 1024px) {
  #map {
    height: 50vh; 
  }
  .map-section {
    display: flex;
    flex-direction: column;
  }
  .contact-container {
    position: static;
    transform: none;
    width: 100vw;
    margin: 0;
    padding: 30px 25px;
    border-radius: 0;
    box-shadow: none;
  }
  .contact-main-pc {
    display: none;
  }
  .contact-main-mobile {
    padding-top: 100px;
    display: block;
  }
  .contact-subheading::before {
    content: '—';
    font-size: 15px;
    position: static;
    margin-right: 10px;
    font-weight: 600;
  }

  .contact-column-right {
    flex-direction: column;
    gap: 10px;
  }

  .contact-heading {
    font-size: 24px;
    margin-bottom: 10px;
  }

  .contact-subheading {
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 10px;
  }

  .contact-info-item {
    margin-bottom: 10px;
    gap: 8px;
  }

  .contact-info-item a {
    font-size: 18px;
  }
  .contact-info-item svg {
    width: 18px;
    height: 18px;
  }

  .contact-address {
    font-size: 17px;
    margin-left: 26px;
  }

  .contact-socials {
    gap: 10px;
    margin-top: 13px;
  }

  .contact-column .social-button {
    width: 35px;
    height: 35px;
    border-radius: 8px;
  }

  .contact-column .social-button svg {
    width: 17px;
    height: 17px;
  }
}
