.site-footer {
  position: relative;
  background-color: #0a1814;
  padding: 3vw 6.87vw;
  font-family: var(--secondary-font-style);
  color: #f5f6eb;
}

.footer-container {
  display: flex;
  justify-content: space-between;
  gap: 5vw;
  flex-wrap: wrap;
  margin: 0 auto;
}

.footer-container-right {
  display: flex;
  gap: 5vw;
}

.footer-brand {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.footer-brand a {
  display: flex;
  align-items: center;
  gap: 0.5vw;
  text-decoration: none;
  user-select: none;
}

.footer-brand .logo svg {
  width: 1.6vw;
  height: auto;
  flex-shrink: 0;
}

.footer-brand .logo span {
  font-family: var(--primary-font-style);
  font-size: 1.6vw;
  font-weight: 300;
  letter-spacing: 0.05em;
}

.footer-columns {
  display: flex;
}

.footer-column {
  min-width: 9.38vw;
}

.footer-heading {
  font-size: 0.9vw;
  font-weight: 700;
}

.footer-links {
  list-style: none;
  padding: 0;
  margin-top: 0.9vw;
}

.footer-links li + li {
  margin-top: 0.9vw;
}

.footer-links a {
  color: #f5f6eb;
  text-decoration: none;
  font-size: 0.9vw;
  transition: color 0.2s ease-in-out;
}

.footer-links a:hover,
.footer-address a:hover,
.footer-contact-details a:hover {
  color: #c1ca7fe2;
}

.footer-contact {
  font-size: 0.9vw;
}

.footer-contact-wrapper {
  display: flex;
  margin-top: 0.9vw;
  gap: 5vw;
}

.footer-address a {
  font-style: normal;
  line-height: 1.6;
  color: #f5f6eb;
  transition: color 0.2s ease-in-out;
}

.footer-contact-details {
  display: flex;
  flex-direction: column;
  gap: 0.42vw;
}

.footer-contact-details a {
  color: #f5f6eb;
  text-decoration: none;
  transition: color 0.2s ease-in-out;
}

.footer-bottom {
  display: flex;
}

.footer-socials {
  display: flex;
  gap: 0.5vw;
}

.social-button {
  width: 2.5vw;
  height: 2.5vw;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border: 1px solid rgba(30, 49, 43, 0.8);
  border-radius: 0.6vw;
  transition: all 0.3s ease;
  background: transparent;
  color: #f5f6eb;
}

.social-button svg {
  width: 1.1vw;
  height: 1.1vw;
  fill: currentColor;
}

.social-button:hover {
  border-color: #ffffff;
}

footer hr {
  margin: 3.2vw 0 2.3vw 0;
  width: 100vw;
  border: none;
  border-top: 1px solid #f5f6eb52;
  display: block;
  transform: translateX(-50vw);
  position: relative;
  left: 50%;
}

.back-to-top {
  font-size: 0.91vw;
  font-weight: 300;
  color: #f5f6eb;
  background-color: transparent;
  border: none;
  cursor: pointer;
  transition: all 0.3s ease;
  width: 100%;
  text-align: right;
  display: block;
}

.back-to-top:hover {
  color: #c1ca7f;
}

.footerScrolltoTop__arrow {
  width: 1vw;
  height: 0.7vw;
}

.footer-bottom--mobile {
  display: none;
}

@media (max-width: 1024px) {
  .footer-bottom--mobile {
    display: block;
  }
  .footer-bottom--pc {
    display: none !important;
  }
  .site-footer {
    padding: 50px 25px;
  }
  .footer-container {
    flex-direction: column;
    gap: 25px;
  }
  .footer-container-right {
    flex-direction: column;
    gap: 35px;
  }
  .footer-contact-wrapper {
    flex-direction: column;
  }

  .footer-brand a {
    gap: 10px;
  }

  .footer-brand .logo svg {
    width: 25px;
  }

  .footer-brand .logo span {
    font-size: 25px;
    letter-spacing: 1px;
  }

  /* 
  .footer-column {
    min-width: 938vw;
  } */

  .footer-heading {
    font-size: 14px;
  }

  .footer-links {
    margin-top: 14px;
  }

  .footer-links li + li {
    margin-top: 14px;
  }

  .footer-links a {
    font-size: 14px;
  }

  .footer-contact {
    font-size: 14px;
  }

  .footer-contact-wrapper {
    margin-top: 14px;
    gap: 20px;
  }

  /* .footer-address a {
    font-style: normal;
    line-height: 1.6;
    color: #f5f6eb;
    transition: color 0.2s ease-in-out;
  } */

  .footer-contact-details {
    gap: 10px;
  }

  .footer-socials {
    gap: 10px;
  }

  .social-button {
    width: 38px;
    height: 38px;
    border-radius: 6px;
  }

  .social-button svg {
    width: 20px;
    height: 20px;
    fill: currentColor;
  }

  .social-button:hover {
    border-color: #ffffff;
  }

  footer hr {
    margin: 30px 0 23px 0;
    width: 100vw;
    border: none;
    border-top: 1px solid #f5f6eb52;
    display: block;
    transform: translateX(-50vw);
    position: relative;
    left: 50%;
  }

  .back-to-top {
    font-size: 15px;
    align-items: first baseline;
  }

  .footerScrolltoTop__arrow {
    width: 10px;
    height: 14px;
    margin-left: 5px;
  }
}
