/* ===== Header ===== */

.header {
  position: relative;
  height: 100vh;
  overflow: hidden;
}

.header-bg {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 0;
}

.header-overlay {
  position: absolute;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.447); 
  z-index: 0; 
}

.header-content { 
  position: relative;
  z-index: 1;
  height: 100%;
  pointer-events: none;
}


.header-scale {
  position: absolute;
  top: 40%;
  left: 7%;
  transform-origin: center center;
  will-change: transform;
  pointer-events: auto;
  text-align: left;
}


.header h1 {
  font-family: var(--primary-font-style);
  width: 1200px;
  font-size: 56px;
  font-weight: 300;
  letter-spacing: -0.02em;
  line-height: 1.2;
  color: #ffffff;
  margin: 0;
  text-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
}
.header-scale-bottom {
  position: absolute;
  bottom: 11%;
  left: 50%;
  transform-origin: center center;
  will-change: transform;
  pointer-events: auto;
  text-align: left;
}


.header h3 {
  font-family: var(--secondary-font-style);
  width: 500px;
  font-size: 20px;
  font-weight: 300;
  letter-spacing: -0.02em;
  line-height: 1.2;
  color: #ffffff;
  margin: 0;
  text-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
}

