.header {
  position: relative;
  height: 100vh;
  overflow: hidden;
  background-image: url('/src/assets/modern-minimalist-office\ \(2\).jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.header-overlay {
  position: absolute;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.45);
  z-index: 1;
}

.header-content {
  position: relative;
  z-index: 2;
  height: 100%;
  pointer-events: none;
}

/* Top text */
.header-scale {
  position: absolute;
  top: 40%;
  left: 7%;
  transform-origin: center center;
  will-change: transform;
  pointer-events: auto;
  text-align: left;
}

.header h1 {
  font-family: var(--primary-font-style);
  max-width: 70vw;
  font-size: 3.8vw;
  font-weight: 100;
  letter-spacing: -0.02em;
  line-height: 1.2;
  color: #f3f2f2;
  margin: 0;
  text-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
}

/* Bottom text */
.header-scale-bottom {
  position: absolute;
  bottom: 11%;
  left: 50%;
  text-align: left;
  max-width: 30vw;
}

.header h3 {
  font-family: var(--secondary-font-style);
  font-size: 1.1vw;
  font-weight: 300;
  letter-spacing: -0.02em;
  line-height: 1.2;
  color: #f3f2f2;
  margin: 0;
  text-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
}

.scroll-container-header {
  position: absolute;
  left: 7%;
  bottom: 11%;
  display: flex;
  align-items: center;
  gap: 0.8vw;
  overflow: hidden;
  height: 1.2vw;
}

.text-wrapper {
  display: inline-flex;
  align-items: center;
  gap: 0.5vw;
  will-change: transform, opacity;
  animation: scroll-text-one-up 3s ease-in-out infinite;
}

.text {
  color: #f3f2f2;
  font-family: var(--secondary-font-style, sans-serif);
  font-size: 0.75vw;
  font-weight: 500;
  letter-spacing: 0.052vw;
  text-transform: uppercase;
  line-height: 1.2vw;
  white-space: nowrap;
}

.line {
  display: inline-block;
  width: 0.8vw;
  height: 0.1vw;
  background-color: #c7ec60;
}

@keyframes scroll-text-one-up {
  0% {
    opacity: 0;
    transform: translateY(100%);
  }
  20% {
    opacity: 1;
    transform: translateY(0);
  }
  80% {
    opacity: 1;
    transform: translateY(0);
  }
  100% {
    opacity: 0;
    transform: translateY(-100%);
  }
}

@media (max-width: 1024px) {
  .header {
    background-position: 78% center;
  }
  .header h1 {
    font-size: 35px;
    max-width: 100%;
  }
  .header-scale {
    top: 52%;
    left: 7%;
  }
  .header h3 {
    font-size: 18px;
  }
  .header-scale-bottom {
    font-size: 38px;
    max-width: 90%;
    bottom: 13%;
    left: 7%;
  }
  .scroll-container-header {
    position: absolute;
    left: 7%;
    bottom: 7%;
    height: 10px;
    gap: 10px;
  }
  .text-wrapper {
    gap: 20px;
  }

  .text {
    font-size: 12px;
    /* letter-spacing: 0.052vw; */
    /* line-height: 1.2vw; */
  }

  .line {
    display: inline-block;
    width: 10px;
    height: 1.5px;
    background-color: #c7ec60;
  }
}
