/* ===== Header ===== */

.header {
  position: relative;
  height: 100vh;
  overflow: hidden;
}

.header-bg {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 0;
}

/* Dark overlay on top of image */
.header-overlay {
  position: absolute;
  inset: 0; /* top:0; right:0; bottom:0; left:0 */
  background-color: rgba(0, 0, 0, 0.57); /* semi-transparent black */
  z-index: 0; /* sits above the image, below content */
}

.header-content {
  position: relative;
  z-index: 1;
  height: 100%;
  pointer-events: none;
}


.header-scale {
  position: absolute;
  top: 50%;
  left: 28%;
  transform-origin: center center;
  will-change: transform;
  pointer-events: auto;
  text-align: left;
}


.header h1 {
  font-family: var(--primary-font-style);
  width: 800px;
  font-size: 56px;
  font-weight: 300;
  letter-spacing: -0.02em;
  line-height: 1.2;
  color: #ffffff;
  margin: 0;
  text-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
}

