.about-us_mainPage {
  position: relative;
  background-color: #f5f6eb;
  padding: 4.5vw 6.87vw;
}

.about-us_mainPage__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 4vw;
}

.about-us_mainPage__left {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.about-us_mainPage__left__subtitle {
  position: absolute;
  top: 9%;
  left: 7%;
  font-family: var(--secondary-font-style);
  font-size: 0.75vw;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #1e312b;
  font-weight: 500;
}

.about-us_mainPage__left h2,
.about-us_mainPage__left p {
  max-width: 35vw;
  text-align: left;
}

.about-us_mainPage__left h2 {
  font-family: var(--primary-font-style);
  font-size: clamp(1.4vw, 3.3vw, 4vw);
  letter-spacing: 0;
  font-weight: 300;
  line-height: 1.1;
  margin-bottom: 1.25vw;
  color: #1e312b;
}

/* Paragraph */
.about-us_mainPage__left p {
  font-family: var(--secondary-font-style);
  font-size: clamp(0.83vw, 1vw, 1.15vw);
  line-height: 1.5;
  color: #1e312b;
  text-align: justify;
}

.about-us_mainPage__right {
  flex: 0 0 45%;
  /* height: 50vw;  */
  position: relative;
  overflow: hidden;
}

.about-us_mainPage__right img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

/* ===== Button Base ===== */
.btn-block {
  display: inline-flex;
  align-items: center;
  gap: 1.3vw;
  position: relative;
  padding: 0.4vw 1.1vw;
  border: 1px solid #1e312b;
  border-radius: 50px;
  color: #1e312b;
  text-decoration: none;
  font-weight: 300;
  font-family: var(--primary-font-style);
  font-size: 0.9vw;
  overflow: hidden;
  cursor: pointer;
  white-space: nowrap;
  transition: all 0.5s cubic-bezier(0.77, 0.25, 0.11, 0.92);
  margin-top: 1.25vw;
}

/* Label */
.btn-block__label {
  position: relative;
  z-index: 2;
}

/* Arrow wrapper */
.btn-block__arrowWrapper {
  position: relative;
  display: flex;
  align-items: center;
  width: 2.1vw;
  height: 0.8vw;
}

/* Base style for both arrows */
.btn-block__arrow,
.btn-block__arrowHover {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  fill: none;
  stroke: currentColor;
  stroke-width: 2;
  transition: all 0.5s cubic-bezier(0.77, 0.25, 0.11, 0.92);
}

/* Initial state for the hidden arrow */
.btn-block__arrowHover {
  color: #008a55;
  opacity: 0;
  transform: translateX(-100%); /* Starts further back for a 'sliding' effect */
}

/* Hover effects */
.btn-block:hover {
  border-color: #008a55;
}

/* Animate arrows on hover */
.btn-block:hover .btn-block__arrow {
  transform: translateX(100%); /* Slides out to the right */
  opacity: 0;
}

.btn-block:hover .btn-block__arrowHover {
  opacity: 1;
  transform: translateX(0); /* Slides into view */
}
