.navbar {
  position: fixed;
  top: 2.2vw;
  left: 0;
  right: 0;
  width: 100%;
  z-index: 20;
  pointer-events: auto;
}

.navbar-inner {
  padding: 1vw 1.78vw 1vw 1.27vw; 
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  background-color: rgba(16, 31, 26, 0.6);
  backdrop-filter: blur(4px);
  border-radius: 0.65vw;
  margin: 0.65vw;
}

.logo {
  display: flex;
  align-items: center;
  gap: 0.7vw; 
  text-decoration: none;
  user-select: none;
}

.logo svg {
  width: 1.95vw; 
  height: auto;
  flex-shrink: 0;
}

.logo span {
  font-family: var(--primary-font-style);
  color: #f4f5f4;
  font-size: 1.2vw;
  font-weight: 300;
  letter-spacing: 0.05em;
}

.nav-links {
  font-family: var(--secondary-font-style);
  display: flex;
  gap: 2vw; 
  list-style: none;
  align-items: center;
  margin: 0;
  padding: 0;
}
.nav-links li {
  display: flex;
  align-items: center; 
  margin: 0; 
  padding: 0; 
  height: auto; 
  line-height: 1; 
}

.nav-links a {
  position: relative;
  font-size: 0.9vw;
  font-weight: 400;
  letter-spacing: 0.04em;
  text-decoration: none;
  color: #f5f6eb;
  white-space: nowrap;
  line-height: 1.25;
  padding-bottom: 0.2vw;
}

.nav-links a::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -0.13vw;
  width: 0%;
  height: 0.04vw;
  background-color: #f5f6eb;
  transition: width 0.5s cubic-bezier(0.77, 0.25, 0.11, 0.92);
}

.nav-links a:hover::after {
  width: 100%;
}

.navbar__marquee {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
  overflow: hidden;
  background: #0b1713;
  z-index: 20;
  padding: 0.85vw 0; 
  display: flex;
  align-items: center;
  box-sizing: border-box;
}

.navbar__marquee-track {
  display: flex;
  width: max-content;
  animation: scroll-left 90s linear infinite;
  will-change: transform;
  transform: translateZ(0);
}

.navbar__marquee-group {
  display: flex;
  flex-shrink: 0;
}

.navbar__marquee-track span {
  font-family: var(--secondary-font-style);
  font-size: 0.5vw;
  letter-spacing: 0.12em;
  text-transform: uppercase;
  color: white;
  padding: 0 0.78vw; 
  white-space: nowrap;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@keyframes scroll-left {
  0% {
    transform: translate3d(0, 0, 0);
  }
  100% {
    transform: translate3d(-50%, 0, 0);
  }
}

.hamburger {
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  height: 18px;
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
}

.hamburger span {
  height: 2px;
  width: 100%;
  background: #f5f6eb;
  transition:
    transform 0.4s ease,
    opacity 0.3s ease;
}

.hamburger.is-active span:nth-child(1) {
  transform: translateY(8px) rotate(45deg);
}

.hamburger.is-active span:nth-child(2) {
  opacity: 0;
}

.hamburger.is-active span:nth-child(3) {
  transform: translateY(-8px) rotate(-45deg);
}

/* ===== Mobile Overlay ===== */
.mobile-menu-overlay {
  position: fixed;
  inset: 0;
  width: 100%;
  height: 100%;
  padding: 120px 22px;
  background: #f5f6eb;
  z-index: 10;
  display: flex;
  justify-content: center;
  
  /* Initial State */
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transform: translateY(-10px); /* Subtle slide start */
  
  /* Optimized Transition */
  transition: 
    opacity 0.5s cubic-bezier(0.23, 1, 0.32, 1),
    visibility 0.5s cubic-bezier(0.23, 1, 0.32, 1),
    transform 0.5s cubic-bezier(0.23, 1, 0.32, 1);
  
  will-change: transform, opacity;
}

.mobile-menu {
  width: 100%;
}

.mobile-menu-overlay.is-visible {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
  transform: translateY(0); /* Slides into place */
}

.mobile-menu {
  list-style: none;
  padding: 0;
  margin: 0;
  text-align: left;
}

.mobile-menu li {
  padding: 20px 0;
  border-bottom: 1px solid rgba(30, 49, 43, 0.503);
}

.mobile-menu li:nth-child(5) {
  padding: 20px 0;
  border-bottom: 2px solid rgb(30, 49, 43) !important;
}

.mobile-menu a {
  font-family: var(--secondary-font-style);
  font-size: 18px;
  letter-spacing: 0.01em;
  opacity: 0.9;
  color: rgb(30 49 43);
  text-decoration: none;
}

.social-item {
  margin-top: 70px;
  padding: 0 !important;
  display: flex;
  gap: 10px;
  list-style: none;
  border-bottom: none !important;
}

.contact-item {
  margin-top: 30px;
  padding: 0 !important;
  display: flex;
  flex-direction: column;
  gap: 5px;
  list-style: none;
  border-bottom: none !important;
}

.contact-item a {
  font-size: 14px;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

/* ===== Social Buttons ===== */
.social-button {
  width: 42px;
  height: 42px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border: 1px solid rgb(30, 49, 43);
  border-radius: 10px;
}

.social-button svg {
  width: 22px;
  height: 22px;
  fill: currentColor;
}


@media (max-width: 1023px) {
  .nav-links {
    display: none;
  }

  .hamburger {
    display: flex;
  }

  .navbar {
    top: 50px;
  }

  .navbar-inner {
    padding: 12px 24px 12px 18px;
    margin: 0 10px;
    border-radius: 10px;
  }

  .logo {
    gap: 10px;
  }

  .logo svg {
    width: 25px;
  }

  .logo span {
    font-size: 22px;
    letter-spacing: 0.05em;
  }

  .nav-links {
    gap: 24px;
  }

  .nav-links a {
    font-size: 14px;
    letter-spacing: 0.04em;
    line-height: 1.25;
    padding-bottom: 3px;
  }

  .navbar__marquee {
    padding: 13px 0;
  }

  .navbar__marquee-track span {
    font-size: 10px;
    letter-spacing: 0.12em;
    padding: 0 12px;
  }

  
}

