.navbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9999;
  pointer-events: auto;
}

.navbar-scale {
  position: absolute;
  top: 0;
  left: 50%;
  transform-origin: top center;
  will-change: transform, width;
  pointer-events: auto;
}

.navbar-inner {
  padding:
    var(--navbar-padding-top)
    var(--navbar-padding-right)
    var(--navbar-padding-bottom)
    var(--navbar-padding-left);

  display: flex;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;

  background-color: #101c18a1;
  backdrop-filter: blur(4px);
  border-radius: 10px;
  margin: 15px 10px 10px 10px;
}


/* ===== Logo ===== */

.logo {
  display: flex;
  align-items: center;
  gap: var(--gap-logo-text);
  text-decoration: none;
  color: #164535;
  user-select: none;
}

.logo svg {
  width: 30px;  
  height: auto;             
  display: block;
  flex-shrink: 0;
}

.logo span {
  font-family: var(--primary-font-style);
  color: #f4f5f4;
  font-size: var(--font-size);
  font-weight: 300;
  letter-spacing: 0.05em;
}

/* ===== Nav Links ===== */

.nav-links {
  font-family: var(--secondary-font-style);
  display: flex;
  gap: var(--gap-links);
  margin: 0;
  padding: 0;
  list-style: none;
  align-items: center;
}

/* ===== Nav Links Hover Animation ===== */

.nav-links a {
  position: relative; /* Needed for ::after */
  font-size: var(--nav-link-font-size);
  font-weight: 400;
  letter-spacing: 0.04em;
  text-decoration: none;
  color: #f5f6eb;
  white-space: nowrap;
  letter-spacing: -0.2px;
  line-height: 20px;
  padding-bottom: 3px; /* small space for underline */
}

.nav-links a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -2px;
  width: 0%; /* start with no underline */
  height: 1px;
  background-color: #f5f6eb;
 transition: width 0.6s cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-links a:hover::after {
  width: 100%; /* expand to full width on hover */
}


@media (max-width: 520px) {
  .nav-links {
    display: none;
  }
}