.OurCollectionsMain {
  position: relative;
  overflow: hidden;
  padding: 9vw 6.87vw 12vw 6.87vw;
  color: #f3f2f2;
  font-family: sans-serif;
  min-height: 40vw;
}

.OurCollectionsMain-bg {
  position: absolute;
  inset: 0;
  z-index: -1;
}

.OurCollectionsMain-bg img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: blur(8px);
  transform: scale(1.1);
}

.OurCollectionsMain-bg::after {
  content: '';
  position: absolute;
  inset: 0;
  background-color: rgba(10, 24, 20, 0.7);
}

.OurCollectionsMain-container {
  position: relative;
  top: 3.6vw;
  z-index: 1;
  display: flex;
  justify-content: space-between;
  gap: 0vw;
}

.OurCollectionsMain-header {
  font-family: var(--secondary-font-style);
  font-size: 0.75vw;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #f5f6eb;
  font-weight: 500;
}
.OurCollectionsMain-title-group {
  display: flex;
  align-items: baseline;
  gap: 1.3vw;
}
.OurCollectionsMain-title-group__inner {
  display: flex;
  flex-direction: column;
  gap: 0.8vw;
  margin-bottom: 1.5vw;
}

.OurCollectionsMain-index {
  font-family: monospace;
  color: #c1ca7fe2;
  font-size: 1.5vw;
  font-weight: 300;
}

.OurCollectionsMain-title {
  font-family: var(--primary-font-style);
  letter-spacing: normal;
  font-size: 3.8vw;
  /* font-size: 3.3vw; */
  font-weight: 300;
  line-height: 1;
  max-width: 21vw;
}

.OurCollectionsMain-description {
  font-family: var(--secondary-font-style);
  font-size: 0.85vw;
  line-height: 1.5;
  margin-bottom: 3vw;
  max-width: 100%;
}

.OurCollectionsMain-cta-mobile {
  display: none;
}

.OurCollectionsMain-cta-pc {
  position: absolute;
  bottom: 10%;
  display: inline-flex;
  align-items: center;
  gap: 1.3vw;
  padding: 0.4vw 1.1vw;
  border: none;
  color: #f5f6eb;
  text-decoration: none;
  font-weight: 300;
  font-family: var(--primary-font-style);
  font-size: 0.95vw;
  overflow: hidden;
  cursor: pointer;
  white-space: nowrap;
  transition: all 0.5s cubic-bezier(0.77, 0.25, 0.11, 0.92);
  margin-top: 1.25vw;
}

.OurCollectionsMain-cta-pc__label {
  position: relative;
  z-index: 2;
}

.OurCollectionsMain-cta-pc__arrowWrapper {
  position: relative;
  display: flex;
  align-items: center;
  width: 2.75vw;
  height: 0.8vw;
}

.OurCollectionsMain-cta-pc__arrow,
.OurCollectionsMain-cta-pc__arrowHover {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 110%;
  fill: none;
  stroke: currentColor;
  transition: all 0.5s cubic-bezier(0.77, 0.25, 0.11, 0.92);
}

.OurCollectionsMain-cta-pc__arrowHover {
  color: #c1ca7fe2;
  opacity: 0;
  transform: translateX(-100%);
}

.OurCollectionsMain-cta-pc:hover {
  color: #c1ca7fe2;
}

.OurCollectionsMain-cta-pc:hover .OurCollectionsMain-cta-pc__arrow {
  transform: translateX(100%);
  opacity: 0;
}

.OurCollectionsMain-cta-pc:hover .OurCollectionsMain-cta-pc__arrowHover {
  opacity: 1;
  transform: translateX(0);
}

.OurCollectionsMain-visual {
  width: 56.5vw;
  height: 32vw;
  overflow: hidden;
}

.OurCollectionsMain-visual-wrapper {
  width: 55vw;
}

.OurCollectionsSwiper {
  width: 100%;
  height: 32vw;
  overflow: hidden;
}

.OurCollectionsMain-controls {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2vw;
  margin-top: 1.6vw;
}

.OurCollectionsSwiper {
  position: relative;
  overflow: hidden;
}

.swiper-fade .swiper-slide {
  pointer-events: none;
  transition-property: opacity;
}

.swiper-fade .swiper-slide-active {
  pointer-events: auto;
}

.OurCollectionsMain-img {
  position: absolute;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: opacity 1s ease-out;
  opacity: 1;
}
#bg-image-current,
#bg-image-next,
.OurCollectionsMain-content {
  transition: opacity 1s ease-out;
  position: absolute;
}

.OurCollectionsMain-content {
  position: relative;
  width: 21vw;
  height: max-content;
  margin-top: 10vw;
  z-index: 10;
}
#bg-image-next {
  opacity: 0;
}

.content-layer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  opacity: 0;
  transition: opacity 1s ease-out;
  pointer-events: none;
}

.content-layer.active {
  position: relative;
  opacity: 1;
  pointer-events: auto;
}

.OurCollectionsMain-content[style*='opacity: 0'] {
  opacity: 0;
}

.OurCollectionsMain-content[style*='opacity: 1'] {
  opacity: 1;
}

.swiper-navigation-group {
  display: flex;
  gap: 0.5vw;
  justify-content: center;
  align-items: center;
}

.swiper-prev,
.swiper-next {
  min-width: 44px;
  min-height: 44px;
  cursor: pointer;
  background: none;
  border: none;
  box-shadow: none;
  outline: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.swiper-prev svg {
  transform: rotate(180deg);
}

.swiper-prev svg,
.swiper-next svg {
  stroke: #f3f2f2;
  width: 2.8vw;
  transition:
    stroke 0.3s ease,
    transform 0.3s ease;
}

.swiper-prev:hover svg,
.swiper-next:hover svg {
  stroke: #c1ca7fe2;
}

.swiper-prev.swiper-button-disabled svg,
.swiper-next.swiper-button-disabled svg {
  stroke: rgb(130, 130, 130);
}

.swiper-progress-bar {
  width: 40%;
  height: 2px;
  background: rgb(0, 0, 0);
  border-radius: 2px;
  overflow: hidden;
  margin: 1rem 0;
}

.swiper-progress-fill {
  width: 0%;
  height: 100%;
  background: white;
  border-radius: 2px;
  transition: width 0.4s ease;
}

@media (max-width: 1024px) {
  .OurCollectionsMain {
    padding: 50px 25px;
  }
  .OurCollectionsMain-header {
    font-size: 14px;
    line-height: 1.4;
  }
  .OurCollectionsMain-container {
    top: 0;
    flex-direction: column;
  }

  .OurCollectionsMain-title-group__inner {
    display: flex;
    flex-direction: column;
    gap: 0.8vw;
    margin-bottom: 1.5vw;
  }
  .OurCollectionsMain-content {
    width: 100%;
    margin-top: 20px;
  }

  .OurCollectionsMain-title-group {
    gap: 25px;
  }
  .OurCollectionsMain-index {
    font-size: 25px;
    font-weight: 300;
  }

  .OurCollectionsMain-title {
    font-size: 45px;
  }

  .OurCollectionsMain-description {
    font-size: 14px;
    line-height: 1.5;
    margin-bottom: 0;
    max-width: 100%;
  }

  .OurCollectionsMain-cta-pc {
    display: none;
  }

  .OurCollectionsMain-cta-mobile {
    display: inline-flex;
    align-items: center;
    gap: 10px;
    border: none;
    color: #f5f6eb;
    font-weight: 300;
    font-family: var(--secondary-font-style);
    font-size: 15px;
    overflow: hidden;
    transition: all 0.5s cubic-bezier(0.77, 0.25, 0.11, 0.92);
    margin-top: 25px;
  }

  .OurCollectionsMain-cta-mobile__label {
    position: relative;
    z-index: 2;
  }

  .OurCollectionsMain-cta-mobile__arrowWrapper {
    position: relative;
    display: flex;
    align-items: center;
    width: 50px;
    height: 10px;
  }

  .OurCollectionsMain-cta-mobile__arrow,
  .OurCollectionsMain-cta-mobile__arrowHover {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    fill: none;
    stroke: currentColor;
    transition: all 0.5s cubic-bezier(0.77, 0.25, 0.11, 0.92);
  }

  .OurCollectionsMain-cta-mobile__arrowHover {
    color: #c1ca7fe2;
    opacity: 0;
    transform: translateX(-100%);
  }

  .OurCollectionsMain-cta-mobile:hover {
    color: #c1ca7fe2;
  }

  .OurCollectionsMain-cta-mobile:hover .OurCollectionsMain-cta-mobile__arrow {
    transform: translateX(100%);
    opacity: 0;
  }

  .OurCollectionsMain-cta-mobile:hover
    .OurCollectionsMain-cta-mobile__arrowHover {
    opacity: 1;
    transform: translateX(0);
  }

  .OurCollectionsMain-controls {
    flex-direction: column;
    align-items: flex-start;
    gap: 2vw;
    margin-top: 80px;
  }
  .OurCollectionsMain-visual-wrapper {
    margin-top: 25px;
    width: 100%;
    height: min-content;
  }
  .OurCollectionsSwiper {
    width: 100%;
    height: 68vw;
    overflow: hidden;
  }
  .swiper-navigation-group {
  display: flex;
  gap: 15px;
  justify-content: center;
  align-items: center;
}

.swiper-prev,
.swiper-next {
  min-width: 44px;
  min-height: 44px;
}

.swiper-prev svg,
.swiper-next svg {
  width: 50px;
}

.swiper-prev:hover svg,
.swiper-next:hover svg {
  stroke: #c1ca7fe2;
}

.swiper-prev.swiper-button-disabled svg,
.swiper-next.swiper-button-disabled svg {
  stroke: rgb(130, 130, 130);
}

.swiper-progress-bar {
  width: 100%;
  height: 2px;
  background: rgb(0, 0, 0);
  border-radius: 2px;
  overflow: hidden;
  margin: 1rem 0;
}

}
