<header class="header">
  <img
    src="/src/assets/modern-minimalist-office (2).jpg"
    alt=""
    class="header-bg"
    aria-hidden="true"
  />

  <!-- Dark overlay -->
  <div class="header-overlay"></div>

  <div class="header-content">
    <div class="header-scale">
      <h1>Один из лидеров мебельной индустрии Узбекистана с 2008 года.</h1>
    </div>
  </div>
</header>