<header class="header">
  <img
    src="https://assets.isu.pub/document-structure/250526122020-aeba115999328c31a2fffb2bfc2b145e/v1/c4904a625d929ff0f29c2cfc7940f7b6.jpeg"
    alt=""
    class="header-bg"
    aria-hidden="true"
  />

  <!-- Dark overlay -->
  <div class="header-overlay"></div>

  <div class="header-content">
    <div class="header-scale">
      <h1>We are the UK’s leading upholstery manufacturer</h1>
    </div>
  </div>
</header>