<header class="header">
  <img
    src="/src/assets/modern-minimalist-office (3).jpg"
    alt=""
    class="header-bg"
    aria-hidden="true"
  />

  <!-- Dark overlay -->
  <div class="header-overlay"></div>

  <div class="header-content">
    <div class="header-scale">
      <h1>Эксперт в мебельном производстве Узбекистана с 2008 года.</h1>
    </div>
    <div class="header-scale-bottom">
      <h3>
        Мы делаем невозможное возможным, создавая мебель по смелым дизайнерским
        идеям с безупречным исполнением.
      </h3>
    </div>
    <div class="header-scale-bottom">
      <h3>
        Мы делаем невозможное возможным, создавая мебель по смелым дизайнерским
        идеям с безупречным исполнением.
      </h3>
    </div>

    <div class="scroll-container-header">
      <span class="line"></span>
      <span class="text-wrapper">
        <span class="text">ПРОКРУТИТЕ СТРАНИЦУ ДАЛЕЕ</span>
      </span>
      <span class="line"></span>
    </div>
  </div>
</header>
