<section class="about-us_mainPage">
  <div class="about-us_mainPage__container">
    <div class="about-us_mainPage__left">
      <span>about us</span>
      <h2>Driven to lead. Proud to impress.</h2>
      <p>
        We supply the nation’s retailers with quality trend-aligned sofas. For
        over thirty years, we’ve brought to life impressive upholstery with a
        purposeful and forward-thinking approach. Backed by the scale and skill
        of our four production sites, we’re dedicated to developing inspiring
        sofas your customers will love.
      </p>
    </div>
    <div class="about-us_mainPage__right">
      <img src="#" alt="" />
    </div>
  </div>
</section>
