<section class="about-us_mainPage">
  <div class="about-us_mainPage__container">
    <div class="about-us_mainPage__left">
      <span class="about-us_mainPage__left__subtitle">О нас</span>
      <br />
      <h2>Ведём смело. <br /> Впечатляем сильно.</h2>
      <p>
        Мы разрабатываем и создаём изысканную мебель для ведущих компаний,
        используя высококачественные материалы и фурнитуру, а также внимательную
        ручную работу. <br />
        <br /> Более десяти лет опыта — из России в Узбекистан — и масштаб производства
        позволяют создавать мебель, которая впечатляет и служит долго.
      </p>

      <a href="#" class="btn-block">
        <span class="btn-block__label">О нас</span>

        <div class="btn-block__arrowWrapper">
          <!-- Default right arrow -->
          <svg
            class="btn-block__arrow"
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 45 10"
          >
            <path
              stroke="currentColor"
              stroke-width="2"
              d="M0 5h44m0 0-4-4m4 4-4 4"></path>
          </svg>

          <!-- Hover arrow coming from text -->
          <svg
            class="btn-block__arrowHover"
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 45 10"
          >
            <path
              stroke="currentColor"
              stroke-width="2"
              d="M0 5h44m0 0-4-4m4 4-4 4"></path>
          </svg>
        </div>
      </a>
    </div>
    <div class="about-us_mainPage__right">
      <img src="/src/assets/photo_2022-03-22_02-41-06.jpg" alt="" />
    </div>
  </div>
</section>
