---
import LogoIcon from "../assets/icon.astro";
---

<div class="navbar__marquee" aria-hidden="true">
  <div class="navbar__marquee-scale">
    <div class="navbar__marquee-track">
      <div class="navbar__marquee-group">
        <span>Сайт в тестовом режиме</span>
        <span>Сайт в тестовом режиме</span>
        <span>Сайт в тестовом режиме</span>
      </div>
      <div class="navbar__marquee-group">
        <span>Сайт в тестовом режиме</span>
        <span>Сайт в тестовом режиме</span>
        <span>Сайт в тестовом режиме</span>
      </div>
    </div>
  </div>
</div>

<nav class="navbar" aria-label="Main navigation">
  <div class="navbar-scale">
    <div class="navbar-inner">
      <a class="logo" href="/">
          <LogoIcon />
        <span>ISOLA</span>
      </a>

      <ul class="nav-links" role="menu">
        <li role="none"><a role="menuitem" href="#about">О нас</a></li>
        <li role="none"><a role="menuitem" href="#portfolio">Наши коллекции</a></li>
        <li role="none"><a role="menuitem" href="#services">Новости и события</a></li>
        <li role="none"><a role="menuitem" href="#testimonials">Часто задаваемые вопросы</a></li>
        <li role="none"><a role="menuitem" href="#contact">Контакты</a></li>
      </ul>
    </div>
  </div>
</nav>