---
import LogoIcon from "../assets/icon.astro";

---

<nav class="navbar" aria-label="Main navigation">
  <div class="navbar-scale">
    <div class="navbar-inner">
      <a class="logo" href="/">
          <LogoIcon />
        <span>ISOLA</span>
      </a>

      <ul class="nav-links" role="menu">
        <li role="none"><a role="menuitem" href="#about">About us</a></li>
        <li role="none"><a role="menuitem" href="#portfolio">Our collections</a></li>
        <li role="none"><a role="menuitem" href="#services">News &amp; events</a></li>
        <li role="none"><a role="menuitem" href="#testimonials">FAQs</a></li>
        <li role="none"><a role="menuitem" href="#contact">Contact</a></li>
      </ul>
    </div>
  </div>
</nav>