<section class="trusted-by_mainPage">
  <span class="trusted-by_mainPage__left__subtitle">Доверяют нам</span>
  <div class="trusted-by_mainPage__container">
    <div class="trusted-by_mainPage__right">
      <div class="trusted-by_ticker-container">
        <!-- LTR Swiper -->
        <div id="trusted-by-ltr" class="swiper">
          <div class="swiper-wrapper">
            <!-- Original set -->
            <div class="swiper-slide">
              <img
                src="https://bato-web-agency.github.io/bato-shared/img/ticker-1/image-1-0.svg"
              />
            </div>
            <div class="swiper-slide">
              <img
                src="https://bato-web-agency.github.io/bato-shared/img/ticker-1/image-2-0.svg"
              />
            </div>
            <div class="swiper-slide">
              <img
                src="https://bato-web-agency.github.io/bato-shared/img/ticker-1/image-3-0.svg"
              />
            </div>
            <div class="swiper-slide">
              <img
                src="https://bato-web-agency.github.io/bato-shared/img/ticker-1/image-4-0.svg"
              />
            </div>
            <div class="swiper-slide">
              <img
                src="https://bato-web-agency.github.io/bato-shared/img/ticker-1/image-5-0.svg"
              />
            </div>
            <div class="swiper-slide">
              <img
                src="https://bato-web-agency.github.io/bato-shared/img/ticker-1/image-6-0.svg"
              />
            </div>
            <!-- Duplicate set 1 -->
            <div class="swiper-slide">
              <img
                src="https://bato-web-agency.github.io/bato-shared/img/ticker-1/image-1-0.svg"
              />
            </div>
            <div class="swiper-slide">
              <img
                src="https://bato-web-agency.github.io/bato-shared/img/ticker-1/image-2-0.svg"
              />
            </div>
            <div class="swiper-slide">
              <img
                src="https://bato-web-agency.github.io/bato-shared/img/ticker-1/image-3-0.svg"
              />
            </div>
            <div class="swiper-slide">
              <img
                src="https://bato-web-agency.github.io/bato-shared/img/ticker-1/image-4-0.svg"
              />
            </div>
            <div class="swiper-slide">
              <img
                src="https://bato-web-agency.github.io/bato-shared/img/ticker-1/image-5-0.svg"
              />
            </div>
            <div class="swiper-slide">
              <img
                src="https://bato-web-agency.github.io/bato-shared/img/ticker-1/image-6-0.svg"
              />
            </div>
            <!-- Duplicate set 2 -->
            <div class="swiper-slide">
              <img
                src="https://bato-web-agency.github.io/bato-shared/img/ticker-1/image-1-0.svg"
              />
            </div>
            <div class="swiper-slide">
              <img
                src="https://bato-web-agency.github.io/bato-shared/img/ticker-1/image-2-0.svg"
              />
            </div>
            <div class="swiper-slide">
              <img
                src="https://bato-web-agency.github.io/bato-shared/img/ticker-1/image-3-0.svg"
              />
            </div>
            <div class="swiper-slide">
              <img
                src="https://bato-web-agency.github.io/bato-shared/img/ticker-1/image-4-0.svg"
              />
            </div>
            <div class="swiper-slide">
              <img
                src="https://bato-web-agency.github.io/bato-shared/img/ticker-1/image-5-0.svg"
              />
            </div>
            <div class="swiper-slide">
              <img
                src="https://bato-web-agency.github.io/bato-shared/img/ticker-1/image-6-0.svg"
              />
            </div>
          </div>
        </div>
        <!-- RTL Swiper -->
        <div id="trusted-by-rtl" class="swiper">
          <div class="swiper-wrapper">
            <!-- Original set -->
            <div class="swiper-slide">
              <img
                src="https://bato-web-agency.github.io/bato-shared/img/ticker-1/image-1-0.svg"
              />
            </div>
            <div class="swiper-slide">
              <img
                src="https://bato-web-agency.github.io/bato-shared/img/ticker-1/image-2-0.svg"
              />
            </div>
            <div class="swiper-slide">
              <img
                src="https://bato-web-agency.github.io/bato-shared/img/ticker-1/image-3-0.svg"
              />
            </div>
            <div class="swiper-slide">
              <img
                src="https://bato-web-agency.github.io/bato-shared/img/ticker-1/image-4-0.svg"
              />
            </div>
            <div class="swiper-slide">
              <img
                src="https://bato-web-agency.github.io/bato-shared/img/ticker-1/image-5-0.svg"
              />
            </div>
            <div class="swiper-slide">
              <img
                src="https://bato-web-agency.github.io/bato-shared/img/ticker-1/image-6-0.svg"
              />
            </div>
            <!-- Duplicate set 1 -->
            <div class="swiper-slide">
              <img
                src="https://bato-web-agency.github.io/bato-shared/img/ticker-1/image-1-0.svg"
              />
            </div>
            <div class="swiper-slide">
              <img
                src="https://bato-web-agency.github.io/bato-shared/img/ticker-1/image-2-0.svg"
              />
            </div>
            <div class="swiper-slide">
              <img
                src="https://bato-web-agency.github.io/bato-shared/img/ticker-1/image-3-0.svg"
              />
            </div>
            <div class="swiper-slide">
              <img
                src="https://bato-web-agency.github.io/bato-shared/img/ticker-1/image-4-0.svg"
              />
            </div>
            <div class="swiper-slide">
              <img
                src="https://bato-web-agency.github.io/bato-shared/img/ticker-1/image-5-0.svg"
              />
            </div>
            <div class="swiper-slide">
              <img
                src="https://bato-web-agency.github.io/bato-shared/img/ticker-1/image-6-0.svg"
              />
            </div>
            <!-- Duplicate set 2 -->
            <div class="swiper-slide">
              <img
                src="https://bato-web-agency.github.io/bato-shared/img/ticker-1/image-1-0.svg"
              />
            </div>
            <div class="swiper-slide">
              <img
                src="https://bato-web-agency.github.io/bato-shared/img/ticker-1/image-2-0.svg"
              />
            </div>
            <div class="swiper-slide">
              <img
                src="https://bato-web-agency.github.io/bato-shared/img/ticker-1/image-3-0.svg"
              />
            </div>
            <div class="swiper-slide">
              <img
                src="https://bato-web-agency.github.io/bato-shared/img/ticker-1/image-4-0.svg"
              />
            </div>
            <div class="swiper-slide">
              <img
                src="https://bato-web-agency.github.io/bato-shared/img/ticker-1/image-5-0.svg"
              />
            </div>
            <div class="swiper-slide">
              <img
                src="https://bato-web-agency.github.io/bato-shared/img/ticker-1/image-6-0.svg"
              />
            </div>
          </div>
        </div>
        <!-- LTR Swiper -->
        <div id="trusted-by-ltr" class="swiper">
          <div class="swiper-wrapper">
            <!-- Original set -->
            <div class="swiper-slide">
              <img
                src="https://bato-web-agency.github.io/bato-shared/img/ticker-1/image-1-0.svg"
              />
            </div>
            <div class="swiper-slide">
              <img
                src="https://bato-web-agency.github.io/bato-shared/img/ticker-1/image-2-0.svg"
              />
            </div>
            <div class="swiper-slide">
              <img
                src="https://bato-web-agency.github.io/bato-shared/img/ticker-1/image-3-0.svg"
              />
            </div>
            <div class="swiper-slide">
              <img
                src="https://bato-web-agency.github.io/bato-shared/img/ticker-1/image-4-0.svg"
              />
            </div>
            <div class="swiper-slide">
              <img
                src="https://bato-web-agency.github.io/bato-shared/img/ticker-1/image-5-0.svg"
              />
            </div>
            <div class="swiper-slide">
              <img
                src="https://bato-web-agency.github.io/bato-shared/img/ticker-1/image-6-0.svg"
              />
            </div>
            <!-- Duplicate set 1 -->
            <div class="swiper-slide">
              <img
                src="https://bato-web-agency.github.io/bato-shared/img/ticker-1/image-1-0.svg"
              />
            </div>
            <div class="swiper-slide">
              <img
                src="https://bato-web-agency.github.io/bato-shared/img/ticker-1/image-2-0.svg"
              />
            </div>
            <div class="swiper-slide">
              <img
                src="https://bato-web-agency.github.io/bato-shared/img/ticker-1/image-3-0.svg"
              />
            </div>
            <div class="swiper-slide">
              <img
                src="https://bato-web-agency.github.io/bato-shared/img/ticker-1/image-4-0.svg"
              />
            </div>
            <div class="swiper-slide">
              <img
                src="https://bato-web-agency.github.io/bato-shared/img/ticker-1/image-5-0.svg"
              />
            </div>
            <div class="swiper-slide">
              <img
                src="https://bato-web-agency.github.io/bato-shared/img/ticker-1/image-6-0.svg"
              />
            </div>
            <!-- Duplicate set 2 -->
            <div class="swiper-slide">
              <img
                src="https://bato-web-agency.github.io/bato-shared/img/ticker-1/image-1-0.svg"
              />
            </div>
            <div class="swiper-slide">
              <img
                src="https://bato-web-agency.github.io/bato-shared/img/ticker-1/image-2-0.svg"
              />
            </div>
            <div class="swiper-slide">
              <img
                src="https://bato-web-agency.github.io/bato-shared/img/ticker-1/image-3-0.svg"
              />
            </div>
            <div class="swiper-slide">
              <img
                src="https://bato-web-agency.github.io/bato-shared/img/ticker-1/image-4-0.svg"
              />
            </div>
            <div class="swiper-slide">
              <img
                src="https://bato-web-agency.github.io/bato-shared/img/ticker-1/image-5-0.svg"
              />
            </div>
            <div class="swiper-slide">
              <img
                src="https://bato-web-agency.github.io/bato-shared/img/ticker-1/image-6-0.svg"
              />
            </div>
          </div>
        </div>
        <!-- RTL Swiper -->
        <div id="trusted-by-rtl" class="swiper">
          <div class="swiper-wrapper">
            <!-- Original set -->
            <div class="swiper-slide">
              <img
                src="https://bato-web-agency.github.io/bato-shared/img/ticker-1/image-1-0.svg"
              />
            </div>
            <div class="swiper-slide">
              <img
                src="https://bato-web-agency.github.io/bato-shared/img/ticker-1/image-2-0.svg"
              />
            </div>
            <div class="swiper-slide">
              <img
                src="https://bato-web-agency.github.io/bato-shared/img/ticker-1/image-3-0.svg"
              />
            </div>
            <div class="swiper-slide">
              <img
                src="https://bato-web-agency.github.io/bato-shared/img/ticker-1/image-4-0.svg"
              />
            </div>
            <div class="swiper-slide">
              <img
                src="https://bato-web-agency.github.io/bato-shared/img/ticker-1/image-5-0.svg"
              />
            </div>
            <div class="swiper-slide">
              <img
                src="https://bato-web-agency.github.io/bato-shared/img/ticker-1/image-6-0.svg"
              />
            </div>
            <!-- Duplicate set 1 -->
            <div class="swiper-slide">
              <img
                src="https://bato-web-agency.github.io/bato-shared/img/ticker-1/image-1-0.svg"
              />
            </div>
            <div class="swiper-slide">
              <img
                src="https://bato-web-agency.github.io/bato-shared/img/ticker-1/image-2-0.svg"
              />
            </div>
            <div class="swiper-slide">
              <img
                src="https://bato-web-agency.github.io/bato-shared/img/ticker-1/image-3-0.svg"
              />
            </div>
            <div class="swiper-slide">
              <img
                src="https://bato-web-agency.github.io/bato-shared/img/ticker-1/image-4-0.svg"
              />
            </div>
            <div class="swiper-slide">
              <img
                src="https://bato-web-agency.github.io/bato-shared/img/ticker-1/image-5-0.svg"
              />
            </div>
            <div class="swiper-slide">
              <img
                src="https://bato-web-agency.github.io/bato-shared/img/ticker-1/image-6-0.svg"
              />
            </div>
            <!-- Duplicate set 2 -->
            <div class="swiper-slide">
              <img
                src="https://bato-web-agency.github.io/bato-shared/img/ticker-1/image-1-0.svg"
              />
            </div>
            <div class="swiper-slide">
              <img
                src="https://bato-web-agency.github.io/bato-shared/img/ticker-1/image-2-0.svg"
              />
            </div>
            <div class="swiper-slide">
              <img
                src="https://bato-web-agency.github.io/bato-shared/img/ticker-1/image-3-0.svg"
              />
            </div>
            <div class="swiper-slide">
              <img
                src="https://bato-web-agency.github.io/bato-shared/img/ticker-1/image-4-0.svg"
              />
            </div>
            <div class="swiper-slide">
              <img
                src="https://bato-web-agency.github.io/bato-shared/img/ticker-1/image-5-0.svg"
              />
            </div>
            <div class="swiper-slide">
              <img
                src="https://bato-web-agency.github.io/bato-shared/img/ticker-1/image-6-0.svg"
              />
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="trusted-by_mainPage__left">
      <h2>Выбор лидеров индустрии.</h2>
      <p>
        Мы воплощаем статус ведущих компаний в мебели изысканного качества,
        уделяя внимание каждой детали и фурнитуре премиального сегмента. 
        <!-- Масштаб нашего производства и десятилетняя экспертиза обеспечивают создание
        интерьеров, которые впечатляют и служат поколениям. -->
      </p>
    </div>
  </div>
</section>

<script>
  import Swiper from 'swiper';
  import { Autoplay } from 'swiper/modules';
  import 'swiper/css';

  document.addEventListener('DOMContentLoaded', () => {
    const sliders = [];

    ['#trusted-by-ltr', '#trusted-by-rtl'].forEach((selector, index) => {
      sliders.push(
        new Swiper(selector, {
          modules: [Autoplay],
          loop: true,
          slidesPerView: 'auto',
          spaceBetween: 0,
          speed: 10000,
          allowTouchMove: false,
          autoplay: {
            delay: 0,
            disableOnInteraction: false,
            reverseDirection: index === 1,
          },
        })
      );
    });
  });
</script>
