---
import NavBar from '../components/NavBar.astro';
import Header from '../components/Header.astro';
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/src/assets/logo.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>ISOLA</title>
    <link rel="stylesheet" href="/src/styles/global.css" />
    <link rel="stylesheet" href="/src/styles/NavBar.css" />
    <link rel="stylesheet" href="/src/styles/Header.css" />
  </head>
  <body>
    <NavBar />
    <Header />
  </body>
</html>


