---
import NavBar from '../components/NavBar.astro';
import Header from '../components/Header.astro';
import AboutUsMain from '../components/AboutUsMain.astro';
import OurCollectionsMain from '../components/OurCollectionsMain.astro';

import '../styles/global.css';
import '../styles/NavBar.css';
import '../styles/Header.css';
import '../styles/AboutUsMain.css';
import '../styles/OurCollectionsMain.css';
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/assets/icons/logo.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>ISOLA</title>
  </head>
  <body>
    <NavBar />
    <Header />
    <main>
      <AboutUsMain />
      <OurCollectionsMain />
    </main>
  </body>
</html>
