---
import logo from '../assets/icons/favicon.svg';
import NavBar from '../components/NavBar.astro';
import Header from '../components/Header.astro';
import AboutUsMain from '../components/AboutUsMain.astro';
import OurCollectionsMain from '../components/OurCollectionsMain.astro';
import TrustedBy from '../components/TrustedBy.astro';
import Footer from '../components/Footer.astro';

import '../styles/global.css';
import '../styles/NavBar.css';
import '../styles/Header.css';
import '../styles/AboutUsMain.css';
import '../styles/OurCollectionsMain.css';
import '../styles/TrustedBy.css';
import '../styles/Footer.css';
---

<!doctype html>
<html lang="ru">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <title>ISOLA</title>
    <meta name="description" content="ISOLA — premium furniture manufacturing expertise since 2008."/>
    <link rel="icon" type="image/svg+xml" href={logo.src} />
    <link rel="canonical" href="https://isola.uz/" />
    <script type="application/ld+json">
      {
        "@context": "https://schema.org",
        "@type": "Organization",
        "name": "ISOLA",
        "url": "https://isola.uz",
        "logo": "https://isola.uz/logo.svg",
        "foundingDate": "2008"
      }
    </script>
    <style is:global>
      html.lenis, html.lenis body {
        height: auto;
      }
      .lenis.lenis-smooth {
        scroll-behavior: auto !important;
      }
      .lenis.lenis-smooth [data-lenis-prevent] {
        overscroll-behavior: contain;
      }
      .lenis.lenis-stopped {
        overflow: hidden;
      }
      .lenis.lenis-scrolling iframe {
        pointer-events: none;
      }
    </style>
  </head>
  <body>
    <NavBar />
    <Header />
    <main>
      <AboutUsMain />
      <OurCollectionsMain />
      <TrustedBy />
    </main>
    <Footer />
   <script>
      import Lenis from 'lenis';

      function initLenis() {
        const lenis = new Lenis({
        lerp: 0.1,
        duration: 2,  
      });

        function raf(time: number) {
          lenis.raf(time);
          requestAnimationFrame(raf);
        }

        requestAnimationFrame(raf);

        document.querySelectorAll('a[href^="#"]').forEach(anchor => {
          anchor.addEventListener('click', (e) => {
            e.preventDefault();
            const target = anchor.getAttribute('href');
            if (target) lenis.scrollTo(target);
          });
        });
      }

      initLenis();

      document.addEventListener('astro:after-swap', initLenis);
    </script>
  </body>
</html>
